* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}

body {
  width: 100%;
  background-color: #1e1e1e;
}
.body-container {
  max-width: 2000px;
  margin: auto;
}
header {
  width: 100%;
}
nav {
  width: 100%;
  height: 225px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-logo-container {
  width: 550px;
  display: flex;
  margin-top: 10px;
}
.nav-title {
  width: 290px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 53px;
  text-align: center;
  color: #177269;
  margin-top: 30px;
}
.nav-link {
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 39px;
  color: #ffffff;
}
.nav-search {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.nav-hamburger {
  display: none;
}
.top-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  img {
    width: 100%;
  }
}
.first-text-in-image {
  width: 90%;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: #ffffff;
  background-color: #1e1e1e;
  transform: translate(0px, -50px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.top-section-title {
  width: 100%;
  height: 69px;
  left: 0px;
  background: #177269;
  padding-top: 10px;

  h3 {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 44px;
    text-align: center;
    word-spacing: 10px;
    color: #ffffff;
  }
}
.second-section {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  h2 {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
  }
  p {
    width: 80%;
    font-family: "Nunito Sans";
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    text-align: justify;
    margin: auto;
    margin-bottom: 100px;
  }
}
.second-text-in-image {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  h3 {
    width: 80%;
    background: #1c1c1c;
    color: #ffffff;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 1200;
    font-size: 45px;
    line-height: 65px;
    margin-bottom: 0px;
    text-align: center;
  }
}
.third-section {
  background: #1c1c1c;
  padding-top: 95px;
}
.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-container {
  width: 683px;
  height: 786px;
}
.card-inside-text {
  margin-top: -10px;
  padding-top: 20px;
  height: 88px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  background: #177269;
  border-radius: 7px;
  color: #ffffff;
}
.card-info-container {
  padding: 0px 25px;
  p:first-child {
    margin: 20px 0px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #ffffff;
  }
  p:nth-child(2) {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #ffffff;
    text-align: center;
    // padding-bottom: 45px;
  }
}
.more-events {
  width: 100%;
  display: flex;
  justify-content: center;
  p {
    width: 96%;
    height: 100px;
    border-radius: 7px;
    background: #177269;
    padding-top: 20px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    margin-bottom: 45px;

    color: #ffffff;
  }
}
.down {
  margin-top: -90px;
}
.fourth-section {
  background-color: #fff;
  padding-top: 75px;
}
.card-down {
  width: 683px;
  height: 786px;
}
footer {
  width: 100%;
  padding: 25px;
  background-color: #1c1c1c;
  display: flex;
  justify-content: space-around;
}
.footer-left {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.footer-right {
  @extend .footer-left;
}
.column {
  p {
    width: 180px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #ffffff;
  }
  a {
    color: #ffffff;
  }
  .bold {
    width: 180px;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
  }
}

@media (max-width: 1390px) {
  .card-container {
    margin-bottom: 55px;
  }
  .card-down {
    margin-bottom: 0px;
    height: 620px;
  }
  .down {
    margin-top: 0px;
  }
  @media (max-width: 1280px) {
    .nav-logo-container {
      width: 390px;
    }
    .nav-logo {
      width: 180px;
      height: 180px;
    }
    .nav-title {
      width: 200px;
      font-size: 26px;
      line-height: 40px;
    }
    .nav-link {
      font-size: 14px;
    }
    .nav-search {
      width: 20px;
      height: 20px;
    }
    @media (max-width: 930px) {
      .top-section-title {
        h3 {
          font-size: 1.2rem;
        }
      }
      .column {
        .bold {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
      .first-text-in-image {
        font-size: 1.5rem;
        font-weight: 600;
      }
      .second-text-in-image {
        h3 {
          font-size: 1.5rem;
        }
      }
      .more-events {
        p {
          font-size: 1.5rem;
        }
      }
      footer {
        height: 750px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
      }
      .footer-left {
        width: 100%;
        justify-content: space-between;
      }
      @media (max-width: 800px) {
        .nav-link,
        .nav-search {
          display: none;
        }
        .nav-hamburger {
          display: block;
          width: 40px;
          cursor: pointer;
        }
        @media (max-width: 600px) {
    
          nav {
            justify-content: space-between;
            padding: 0px 5px;
          }
          .nav-logo-container {
            width: 180px;
            align-items: flex-start;
            img {
              width: 100px;
              height: 130px;
            }
            .nav-title {
              font-size: 1.3rem;
              line-height: 23px;
            }
          }
          .top-section-title {
            h3 {
              font-size: 0.7rem;
            }
          }
          .first-text-in-image {
            font-size: 1rem;
          }
          .second-section {
            h2 {
              font-size: 1.8rem;
            }
            p {
              font-size: 1.2rem;
              line-height: 24px;
            }
          }
          .second-text-in-image {
            h3 {
              font-size: 1.2rem;
            }
          }
          .card-inside-text {
            font-size: 1.4rem;
          }
          .card-container {
            width: 100%;
            height: 600px;
            img{
              width: 100%;
            }
          }
          .card-down{
            height: 450px;
            img{
              width: 100%;
            }
          }
          .card-info-container {
            padding: 0px;
            p:first-child {
              font-size: 1.2rem;
            }
            p:nth-child(2) {
              margin-left: 8px;
              white-space: wrap;
              font-size: 1.1rem;
              text-align: left;
            }
          }
          .more-events {
            p {
              font-size: 1.2rem;
            }
          }
          .footer-left {
            justify-content: space-between;
          }
          .footer-map {
            width: 100%;
          }
          .column {
            .bold {
              font-size: 1rem;
            }
            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
