@import "../index/style.scss";
@import "../exhibition/style.scss";

.explore {
  margin-top: 20px;
}
.ex-first-section {
  background-color: #fff;
  padding-top: 50px;
  margin-top: 20px;
  p {
    width: 80%;
    margin: auto;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    text-align: justify;
  }
}
.ex-card {
  margin-top: 95px;
  width: 100%;
  height: 1100px;
  img {
    width: 100%;
    transform: translate(0px, -4px);
  }
}
.ex-card-info-container {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  p {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
  }
}
.second-card {
  height: 2100px;
}
.third-card {
  height: 2300px;
}
.ex-card-images {
  padding-top: 45px;
  display: flex;
  justify-content: center;
  img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
  }
}
.ex-last-text {
  width: 80%;
  p {
    text-align: justify;
  }
}
.ex-up {
  img {
    width: 32%;
  }
}

.ex-down {
  img:first-child {
    width: 46%;
  }
  img:nth-child(2) {
    width: 34%;
  }
}

@media (max-width: 600px) {
  .exhibitions {
    font-size: 2rem;
  }
  .ex-card {
    height: 600px;
  }
  .ex-card-info-container {
    width: 96%;
    p {
      font-size: 1.3rem;
      line-height: 34px;
      text-align: justify;
    }
  }
  .second-card{
    height: 1000px;
  }
  .third-card{
    height: 1700px;
  }
}
