@import "../home/style.scss";
@import "../explore/style.scss";

.sp-first-section {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sp-cards-container {
  width: 98%;
  margin-top: 90px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.sp-upcard-container{
    width: 49%;
    margin-bottom: 55px;
    img{
        width: 100%;
    }
}
.sp-card-info-container {
  width: 100%;
  padding-top: 30px;
  p {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
  }
  p:first-child {
    text-decoration-line: underline;
  }
}

.sp-upcards-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.button-container {
  width: 100%;
  margin-top: 45px;
  display: flex;
  justify-content: center;
}
.sp-button {
  width: 325px;
  height: 72px;
  background: #177269;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 10px;
  color: #fff;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}
.sp-down-inf {
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
}
.sp-downcard-container{
    width: 434px;
    margin-bottom: 55px;
    img{
        width: 100%;
    }
}
.down-button{
width: 495px;
margin-bottom: 95px;
}
@media (max-width: 1328px) {
.sp-upcards-container{
  height: auto;
  flex-direction: column;
  align-items: center;
}
.sp-upcard-container{
  width: 96%;
}
@media (max-width: 800px) {
.sp-card-info-container{
p{
    line-height: 34px;

  font-size: 1.3rem;
} 
}
}
}